body.modal-active {
    overflow: hidden;
}

.modal-scrim {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: fixed;
    background: var(--app-ui-raised-surface);
    z-index: 200;
    border: 1px solid var(--app-ui-border);
    border-radius: 1em;
    margin: auto;
}

.modal-container {
    transition: opacity var(--app-animation-timing) ease-in-out;
}

.modal-container.inactive {
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--app-animation-timing) ease-in-out, visibility 0s ease-in-out var(--app-animation-timing);
}

@media (min-width: 937.5px) {
    .modal {
        top: calc(10vh - 1px);
        left: calc(50% - 375px);
        width: 750px;
    }
}

@media (max-width: 937.5px) {
    .modal {
        top: calc(10vh - 1px);
        left: calc(10vw - 1px);
        width: 80vw;
    }
}

.modal-content {
    padding: 1em 2em 2em 2em;
}

.modal-header {
    display: grid;
    grid-template-columns: 5rem 1fr 5rem;
    grid-template-areas: "_ title close";
    padding: 0.5em;
    margin-top: -1em;
    width: 100%;
}

.modal-title {
    grid-area: title;
    text-align: center;
}

.close-button {
    grid-area: close;
    border: none;
}