.row {
    --animation-timing: 0.5s;
    display: flex;
    flex-direction: row;
    margin: 2px;
}

.cell {
    width: 1.5em;
    height: 1.5em;
    border: 1px solid white;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
}

.black {
    background-color: #121212;
}

.yellow {
    background-color: #7f5f00;
}

.green {
    background-color: #007f00;
}

.graded .cell {
    animation-name: flip;
    animation-duration: var(--animation-timing);
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

.row :nth-child(1).cell {
    animation-delay: 0s;
    transition: background-color 0s calc(var(--animation-timing) * 0.5);
}

.row :nth-child(2).cell {
    animation-delay: var(--animation-timing);
    transition: background-color 0s calc(var(--animation-timing) * 1.5);
}

.row :nth-child(3).cell {
    animation-delay: calc(var(--animation-timing) * 2);
    transition: background-color 0s calc(var(--animation-timing) * 2.5);
}

.row :nth-child(4).cell {
    animation-delay: calc(var(--animation-timing) * 3);
    transition: background-color 0s calc(var(--animation-timing) * 3.5);
}

.row :nth-child(5).cell {
    animation-delay: calc(var(--animation-timing) * 4);
    transition: background-color 0s calc(var(--animation-timing) * 4.5);
}

@keyframes flip {
    0% {
        transform: rotateX(0turn);
    }

    25% {
        transform: rotateX(0.125turn);
    }

    50% {
        transform: rotateX(0.25turn);
    }

    75% {
        transform: rotateX(0.125turn);
    }

    100% {
        transform: rotateX(0turn);
    }
}